* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fdfeff;
  text-align: center;
  font-weight: lighter;
  font-family: "tajawal";
}

main {
  background: url("./images/cover.png"), linear-gradient(#181818, #0b0b0b);
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
}
.header {
  background-image: url("./images/header.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 200px 0;
  margin: 0 auto;
}
.header h1 {
  font-size: 3em;
  padding-right: 45px;
  padding-top: 15px;
}
.header p {
  max-width: 900px;
  margin: 0 auto;
  width: 90%;
  font-size: 22px;
}
.welcome h2 {
  font-size: 45px;
}
.welcome p {
  font-size: 24px;
}
.welcome p:first-of-type {
  margin: 10px 0;
}
.main_container {
  max-width: 920px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 0 20px;
}
.documents {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
label {
  display: flex;
  align-items: top;
  cursor: pointer;
  position: relative;
  width: 49%;
  align-items: center;
  text-align: right;
  background-color: #36343a;
  padding: 15px 20px;
  padding-left: 5px;
  border-radius: 13px;
  margin: 10px 0;
  font-size: 20px;
}
.checkbox {
  position: relative;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  margin-left: 20px;
  top: 50%;
  transform: translateY(-50%);
  height: 25px;
  width: 25px;
  border: 2px #fdfeff solid;
  border-radius: 5px;
}

.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

label .checkbox:checked ~ .checkmark:after {
  display: block;
}

label .checkmark:after {
  right: 7px;
  top: 2px;
  width: 6px;
  height: 10px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.red {
  background-color: #c22735;
}
.btns_container {
  display: flex;
  justify-content: space-between;
}
.submit {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 40%;
  max-width: 300px;
  cursor: pointer;
  font-size: 24px;
  outline: none;
  border: none;
  padding: 15px 0em;
  border-radius: 20px;
  background-color: #c22735;
  margin-top: 30px;
}
.btns {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.selection {
  width: fit-content;
  height: fit-content;
  text-align: right;
  padding-right: 40px;
}
@media only screen and (max-width: 600px) {
  html,
  body {
    overflow-x: hidden;
  }
  .main_container {
    width: 85%;
    margin: 0 auto;
  }
  .header h1 {
    font-size: 10vw;
    padding-right: 7vw;
  }
  .documents {
    justify-content: center;
  }
  label {
    width: 100%;
    margin: 5px 0;
    padding: 15px;
  }
  .welcome {
    max-width: 610px;
    width: 80%;
    margin: 0 auto;
    margin-top: -14vw;
    margin-bottom: 15vw;
  }
  .welcome h2 {
    font-size: 6vw;
  }
  .welcome p {
    font-size: 4vw;
  }
  .header {
    padding: 35vw 0;
    transform: translateX(25px);
    width: 94%;
  }
  .btns_container {
    max-width: 450px;
    width: 100%;
    margin: 30px auto;
  }
  .submit {
    height: 100%;
    padding: 15px 0;
    width: 47%;
    border-radius: 15px;
    font-size: 4vw;
  }
  .checkmark {
    height: 3vw;
    width: 3vw;
    min-height: 14px;
    min-width: 14px;
    border-width: 1.5px;
  }
  .selection {
    font-size: 3.2vw;
    padding-right: 22px;
  }
  label .checkmark::after {
    right: 1vw;
    top: 0.1vw;
    width: 0.4vw;
  }
}
@media (max-width: 420px) {
  label .checkmark::after {
    right: 1vw;
  }
}
